@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes delay-visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes down-pop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 400;
  line-height: 1.6;
  font-size: 2.5rem;
  background-color: rgb(48, 51, 58);
}

.heading-primary--main {
  font-size: 6rem;
}
.heading-primary--sub {
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.mb-s {
  margin-bottom: 2rem;
}

.mt-s {
  margin-top: 2rem;
}

.color--highlight {
  color: rgb(254, 199, 11);
}

.btn:visited,
.btn:link {
  padding: 2rem 3rem;
  text-decoration: none;
  color: inherit;
}

.btn--animated {
  transition: transform 0.3s ease-in-out;
  backface-visibility: hidden;
}
.btn--animated:hover {
  transform: translateY(-10px);
}
.btn--animated:active {
  transform: translateY(-5px);
}

.progress-container {
  width: 100%;
  background-color: rgb(48, 51, 58);
  border-radius: 1rem;
  overflow: hidden;
}

.progress-bar {
  height: 0.5rem;
  width: 0;
  background-color: rgb(254, 199, 11);
  border-radius: 1rem;
}
.progress-bar--animated {
  transition: width 0.3s ease-in;
  backface-visibility: hidden;
}

.carousel {
  grid-column: 1/-1;
  width: 50%;
  grid-row: 2/3;
  margin: 0 auto;
  position: relative;
}
.carousel__btn {
  position: absolute;
  height: 10rem;
  width: 10rem;
  top: 50%;
  transform: translateY(-50%);
  fill: rgb(254, 199, 11);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.carousel__btn__btn--left {
  left: -10%;
}
.carousel__btn__btn--right {
  right: -10%;
}
.carousel__btn svg {
  height: 5rem;
  width: 5rem;
}
.carousel__track {
  list-style-type: none;
  height: 100%;
  transition: transform 0.2s ease-in;
}
.carousel__track-container {
  width: 100%;
  height: 50rem;
  position: relative;
  overflow: hidden;
}
.carousel__slide {
  width: 100%;
  height: 100%;
  background-color: orange;
  position: absolute;
  top: 0%;
  bottom: 0%;
  border: 1px solid red;
}
.carousel__nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.carousel__nav .current-slide {
  background-color: rgb(254, 199, 11);
}
.carousel__indicator {
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #fff;
}
.carousel__indicator:not(:last-child) {
  margin-right: 1rem;
}
.carousel .hidden {
  display: none;
}

.gridContainer {
  display: grid;
  grid-template-columns: [left-start] minmax(100px, 1fr) [left-end center-start] repeat(10, [col-start] minmax(min-content, 150px) [col-end]) [center-end right-start] minmax(100px, 1fr) [right-end];
  grid-template-rows: min-content 90vh min-content min-content auto;
}

.section {
  transition: all 0.3s ease-in;
}
.section--hidden {
  opacity: 0;
  transform: translateY(1.5rem);
}

.header {
  grid-row: 1/3;
  grid-column: left-start/right-end;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: rgb(52, 53, 58);
}
.header .heading-box {
  grid-row: 4/6;
  grid-column: 2/7;
  margin-top: -5rem;
  line-height: 0.9;
}
.header .heading-box .heading--animation {
  animation: moveInLeft 1s ease-in;
}
.header .btn-download-resume {
  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
  border: 0.5rem solid rgb(254, 199, 11);
  border-radius: 2rem;
  color: rgb(254, 199, 11);
  animation: delay-visibility 1s ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.header .social-media-box {
  grid-column: 12/-1;
  grid-row: -1/1;
  align-self: end;
  margin-bottom: 2rem;
  animation: delay-visibility 1s ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.header .social-media__links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: min-content;
  position: relative;
}
.header .social-media__links li:not(:last-child) {
  margin-bottom: 1rem;
}
.header .social-media__links::after {
  content: "";
  position: absolute;
  height: 15rem;
  width: 0.5rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-20rem);
  border-radius: 1rem;
  background-color: rgb(254, 199, 11);
}
.header .social-media__links--item {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  fill: white; /* Adjust the color as needed */
  border: none;
  background-color: transparent; /* Background color */
  padding: 0; /* Padding to create space around the icon */
  transition: transform 0.1s ease-in;
}
.header .social-media__links--item:hover {
  transform: scale(1.3);
}
.header .social-media__links--item:visited, .header .social-media__links--item:active {
  transform: scale(1.2);
}
.header .scroll-to-main {
  grid-row: -1/-2;
  grid-column: 6/8;
  justify-self: center;
  align-self: center;
  fill: rgba(254, 199, 11, 0.5);
  cursor: pointer;
}
.header .scroll-to-main svg {
  height: 10rem;
  width: 10rem;
}
.header .scroll-to-main--animated {
  animation: down-pop 1s ease-in-out;
  animation-iteration-count: infinite;
}

.navBar {
  grid-column: left-start/right-end;
  grid-row: 1/2;
  width: 100%;
  z-index: 10;
  background-color: rgb(52, 53, 58);
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  padding: 2rem 10rem;
}
.navBar__logo {
  top: 1rem;
  left: 1rem;
  height: 6rem;
  width: 6rem;
}
.navBar__navLinks {
  justify-self: end;
  display: flex;
  list-style-type: none;
}
.navBar__navLinks li:not(:last-child) {
  margin-right: 2.5rem;
}
.navBar__navLinks .navItem {
  color: inherit;
  text-decoration: none;
}
.navBar__navLinks .navItem:active, .navBar__navLinks .navItem:hover {
  color: rgb(254, 199, 11);
}
.navBar--sticky {
  position: fixed;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
}

.aboutMe {
  background-color: rgb(48, 51, 58);
  background: linear-gradient(to bottom, rgba(44, 47, 54, 0.8), transparent);
  background-repeat: no-repeat;
  grid-row: 3/4;
  grid-column: left-start/right-end;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content 1fr;
}
.aboutMe .heading {
  grid-column: 2/-1;
}
.aboutMe__content {
  grid-column: 2/-2;
  display: flex;
}
.aboutMe__content .highlight-bar {
  width: 40rem;
  height: 0.5rem;
  margin-top: calc((4.8rem) / 2);
  border-radius: 1rem;
  background-color: rgb(254, 199, 11);
  margin-right: 5rem;
}

.skillsContainer {
  grid-row: 4/5;
  grid-column: center-start/center-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__card {
  width: 70%;
  display: flex;
  border-radius: 2rem;
  flex-wrap: wrap;
  background-color: rgb(61, 62, 66);
}
.skills__card__item {
  display: grid;
  grid-template-rows: repeat(2, 3rem);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  flex: 1 1 50%;
  max-width: 50%;
  padding: 2rem 2rem;
}
.skills__card .item__title {
  grid-row: 1/2;
  grid-column: 1/2;
}
.skills__card .item__progressNumber {
  grid-row: 1/2;
  grid-column: 2/-1;
  justify-self: end;
}
.skills__card .item__progressBar {
  grid-column: 1/-1;
}

.recommendation {
  grid-row: 5/6;
  grid-column: left-start/right-end;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, min-content);
  background-color: rgb(61, 62, 66);
}
.recommendation .heading {
  grid-column: 2/-1;
}

/*# sourceMappingURL=styles.css.map */
