@use "../abstracts//index" as *;

.experienceContainer{
    grid-row:  5 / 6;
    grid-column: left-start / right-end; 
    background-color: $bg-color-secondary ;
    margin: 0 auto;
    

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content min-content;

    .heading {
        grid-row: 1 / 2;
        grid-column: 2 / -1;
    }
}



.experienceCards {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    margin: 0 auto;
    list-style-type: none;

    .item {
        width: 40%;
        display: grid;
        grid-template-rows: min-content auto;
        grid-template-columns: 15rem auto;
        //border: 1px solid red;
        //height: min-content;
        //padding: 0 10rem 10rem 10rem;
        //border-left: 10px solid white;
        margin: 2rem auto;
        
        
        //position: relative;

        &__designation{
            grid-column: 2 / -1;
            grid-row: 1 / 2;
            align-self: center;
        }

        &__organisationContainer{
            grid-column: 2 / -1;
            grid-row: 2 / 3;
        }


        &__tenure {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            //background-color: red;
            align-self: center;
            justify-self: center;
            &__bullet-point {
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 60%;
                background-color: $color-highlight-primary;
                box-shadow: 0 0 20px 5px rgba($color-highlight-primary, 0.5);
                //box-shadow: 0 0 20px 5px $color-highlight-primary;
                 position: relative;

                 &-tag {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 200%;
                    background-color: $color-highlight-primary;
                 }
            }
    
        }

        &__border-left-line {
            grid-row: 2 / -1;
            border-left: $border-width solid $color-white;
            border-radius: 1rem;
            // justify-self: center;
            margin: 0 auto;
        }

        &__project {
            
            &__description {
                word-wrap: break-word;
                margin-bottom: 3rem;
                font-size: 2rem;
                margin-top: 2rem;
            }
        }
        

        

        .tag {
            position: relative;

            &::before {
                content: attr(data-tenure);
                // content: "BEORE tXT";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.5rem;
                font-weight: 600;
                padding: 0.5rem 4rem 0.5em 1rem ;
                white-space : nowrap;
                //height: 2.5rem;
                width: min-content;
                color: $bg-color-secondary;
                background-color: inherit;
            }
        }

        .tag--left {
            &::before{
            right: 100%;
            clip-path: polygon(0% 0% , 80% 0% ,  100% 50% , 80% 100% ,0 100%);
            }
            
        }

        
    }
}