@use '../abstracts//index' as * ;


.recommendation {
    grid-row:  6 / 7;
    grid-column: left-start / right-end;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2,min-content);
    background-color: $bg-color-tertiary ;

    .heading {
        grid-column: 2 / -1;
    }
}