@use '../abstracts//index' as * ;

.btn,
.btn:visited,
.btn:link {
    padding: 2rem 3rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.btn--animated {
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;

        &:hover {
            transform: translateY(-10px);
        }
        &:active {
            transform: translateY(-5px);
        }
}