@use "../abstracts/index" as * ;

:root {

}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    @media (max-width: 900px) {
        font-size: 50%;   //1rem = 8px
      }
      /* Small devices (tablets) */
      @media (min-width: 576px) and (max-width: 767.98px) {
        
      }
      
      /* Medium devices (small laptops) */
      @media (min-width: 768px) and (max-width: 991.98px) {
        
      }
      
      /* Large devices (laptops) */
      @media (min-width: 992px) and (max-width: 1199.98px) {
        
      }
      
      /* Extra large devices (desktops) */
      @media (min-width: 1200px) {
        
      }
}

body {
    font-family: $font-primary;
    color: white;
    font-weight: 400;
    line-height: $line-height;
    font-size: 2rem;
    
    background-color: $bg-color-primary;
    @media (max-width: 900px) {
        //font-size: 1.5rem;   //1rem = 8px
      }
  }
  